@import "../../../variables.scss";

.dialog {
  position: absolute;
  resize: both;
  overflow: auto;
  top: 0;
  left: 0;
  border-top: 2px solid $border-highlight;
  border-left: 2px solid $border-highlight;
  border-bottom: 2px solid $border-downlight;
  border-right: 2px solid $border-downlight;

  background: $gray-background;
  padding: 2px;
  min-width: min-content;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 498px) {
    width: 498px;
  }
  .dialog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7e8279;
    padding: 2px 4px;
    cursor: default;

    &.active {
      background-color: $hover-background;
    }

    .dialog-title-text {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $gray-background;
      flex: 1;
      text-wrap: nowrap;
      margin-right: 0.5rem;
    }
    .dialog-title-actions {
      display: flex;

      button {
        padding: 0;
        min-width: 19px;
      }
    }
  }
  .dialog-content {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill, 50px);
    gap: 1.5rem;
    overflow-y: auto;
    margin-top: 4px;
    padding: 4px 4px;
    background: white;
    border-top: 2px solid $border-downlight;
    border-left: 2px solid $border-downlight;
    border-bottom: 2px solid $border-highlight;
    border-right: 2px solid $border-highlight;
  }
  .dialog-footer {
    display: flex;
    gap: 2px;
  }
}
