@import '../../../variables.scss';

.desktop-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: default;
  max-width: 80px;
  text-align: center;
  gap: 4px;
  img {
    height: 32px;
  }
  span {
    padding: 0 1px 0 1px;
  }
  &:hover {
    span {
        outline: 1px dotted $border-downlight-lighter;
    }
  }
}
