<div class="content" (click)="playSong()">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 8px;
      gap: 1rem;
    "
  >
    <app-desktop-element
      [element]="desktopElement"
      (onClick)="openFolder()"
    ></app-desktop-element>
    <app-desktop-element
      [element]="{
        icon: 'Internet_Explorer_1997_Icon_Beta_256.svg',
        label: 'Internet Explorer'
      }"
      (onClick)="goToGithub()"
    ></app-desktop-element>
  </div>
  <div class="navbar">
    <div class="start-opened-folders">
      <button class="start" #start (click)="menuActive = !menuActive">
        <img
          src="logo.png"
          alt="logo"
          style="height: 1.2rem; position: absolute; left: 0; bottom: -2px"
        />
        <span style="margin-left: 1rem"> Start </span>
      </button>
      <div class="opened-folders">
        <button
          class="start"
          [ngClass]="{ active: diaSvc.isActive(dia.id) }"
          *ngFor="let dia of diaSvc.currentDialogs"
          (click)="diaSvc.toggleMinimize(dia.id)"
        >
          <img
            [src]="dia.desktopElement.icon == 'FolderHiRes.ico' ? dia.desktopElement.icon : 'Color triangle sheet.ico'"
            alt="logo"
            style="height: 1rem; position: absolute; left: 4px; bottom: 1px"
          />
          <span style="margin-left: 18px">{{ dia.desktopElement.label }}</span>
        </button>
      </div>
    </div>
    <div class="card" style="padding-left: 10px">
      {{ currTime | date : "h:mm a" }}
    </div>
  </div>
</div>
<div
  class="menu-container"
  [ngStyle]="{ display: menuActive ? 'block' : 'none' }"
  (click)="menuActive = false"
>
  <div class="menu-container-content">
    <div
      #menu
      [ngStyle]="{
        'position': 'absolute',
        'left': start.getBoundingClientRect().left + 'px',
        'top': start.getBoundingClientRect().top - menu.getBoundingClientRect().height + 'px',
      }"
      (click)="$event.stopPropagation()"
      class="menu"
    >
      <div class="win-95-title">Windows<span>95</span></div>
      <div class="menu-items">
        <div
          class="menu-item"
          *ngFor="let item of menus; index as i"
          [style]="{ gap: item.gap }"
          [ngClass]="{
            last: i == menus.length - 1,
            'almost-last': i == menus.length - 2
          }"
          (click)="item.action && item.action()"
        >
          <img
            [src]="item.icon"
            [alt]="item.icon"
            [style]="{
              height: item.height,
              'margin-left': item.marginLeft,
            }"
          />
          <span>
            {{ item.label }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dialog></app-dialog>


<div class="vapor">
  <div class="content">
    <img class="palm" src="https://68.media.tumblr.com/f091c3890383aa8d8d3129145d9e267d/tumblr_octcvgAWVb1u1vzz5o4_250.png" alt="Palm tree" />
     <p class="vp-text">ピノーサマ</p>
    <img class="statue" src="https://media.giphy.com/media/gzROsII7swwrm/giphy.gif" alt="A glitched statue to represent where human intellect has come from and where it's going" />

    <img class="spooky" src="https://38.media.tumblr.com/397f781d920ee10d49e429e34ea4f3a1/tumblr_nglvic0X6o1qza1qzo1_250.gif" alt="This spooky skeletal is to remind us that death is unescapable, lingering near at all times." />
    <!-- <img class="checker" src="https://66.media.tumblr.com/3c6d3fe0c6992b87c698837b08e018a6/tumblr_octcz3HowU1u1vzz5o1_540.png" alt="The checkerboard floor represents the game that is life." /> -->
    <img class="palmrev" src="https://68.media.tumblr.com/f091c3890383aa8d8d3129145d9e267d/tumblr_octcvgAWVb1u1vzz5o4_250.png" alt="Palm trees to represent, almost laughably, the futility of nature being anything except aesthetic." /> 
  </div>
</div>